.container {
  --intouch-green: #bede59;
  width: 250px;
  padding: 30px 0;
  margin: 0 auto;
}
.button {
  display: inline-block;
  margin-top: 20px;
  padding: 5px;
  min-width: 100px;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: black;
  border-bottom: var(--intouch-green) solid 5px;
  border-top: var(--intouch-green) solid 1px;
  border-right: var(--intouch-green) solid 1px;
  border-left: var(--intouch-green) solid 1px;
  border-radius: 3px;
  }
.button:not(.disabled):hover {
  background-color: var(--intouch-green);
  border-bottom: var(--intouch-green) solid 5px;
}
.button:disabled, .disabled {
  cursor: not-allowed;
  color: darkgrey;
  background-color: #666;
  border-bottom: black solid 5px;
  border-top: black solid 1px;
  border-right: black solid 1px;
  border-left: black solid 1px;
  border-radius: 3px;
}
.next {
  float: right;
}
.form label {
  margin-top: 10px;
  display: block;
}
.error {
  color: red;
  font-size: 0.8rem;
}
.ul {
  list-style-type: none;
  padding-left: 0;
}